@model WebApplication1.Models.Estilos

@{
    ViewBag.Title = "Delete";
}

<section class="section cta dark">
    <div class="container text-left" style="margin-top: 5rem;">
        <h2 class="mb-5 text-center">
            <strong>
                Tem certeza que deseja excluir este estilo?
            </strong>
        </h2>
        <div class="form-horizontal">
            <div class="row">
                <div class="form-outline col-4">
                    @Html.LabelFor(model => model.Nome, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.Nome, new { htmlAttributes = new { @class = "form-control", @disabled = "disable" } })
                </div>
                <div class=" form-outline col-8">
                    @Html.LabelFor(model => model.Descricao, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.Descricao, new { htmlAttributes = new { @class = "form-control", @disabled = "disable" } })
                </div>

            </div>
        </div>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <input type="submit" value="Delete" class="btn btn-block" />
            <a href="@Url.Action("Index")" class="btn">Voltar</a>
        }
    </div>

</section>
