@model WebApplication1.Models.Estilos

@{
    ViewBag.Title = "Details";
}

<section class="section cta dark">
    <div class="container text-left" style="margin-top: 5rem;">
        <h4 class="mb-5 display-4">
            Detalhes
        </h4>
        <h5>
            @Html.DisplayNameFor(model => model.Nome)
        </h5>

        <p>
            @Html.DisplayFor(model => model.Nome)
        </p>

        <h5>
            @Html.DisplayNameFor(model => model.Descricao)
        </h5>

        <p>
            @Html.DisplayFor(model => model.Descricao)
        </p>

        <a href="@Url.Action("Edit",new {id = Model.Id})" class="btn">Editar</a>
        <a href="@Url.Action("Index")" class="btn">Voltar</a>
    </div>
</section>

