@model IEnumerable<WebApplication1.Models.Estilos>

@{
    ViewBag.Title = "Index";
}

<section class="section cta dark">
    <div class="container" style="margin-top: 5rem;">
        <div class="row">
            <div class="col-12">
                <div class="card py-5">
                    <h4 class="display-4" style="color:black;">Listagem de Estilos</h4>
                    <table class="table">
                        <thead>
                            <tr>
                                <th width="20%">
                                    Nome
                                </th>
                                <th width="50%">
                                    Descrição
                                </th>
                                <th width="15%">
                                    Disponível
                                </th>
                                <th width="15%">
                                    Ações
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Nome)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Descricao)
                                    </td>
                                    <td>
                                        @if (item.Status == false)
                                        {
                                            ViewBag.Disponivel = "Não";
                                        }
                                        else
                                        {
                                            ViewBag.Disponivel = "Sim";
                                        }
                                        @ViewBag.Disponivel
                                    </td>
                                    <td class="text-center">
                                        <a href="@Url.Action("Edit", "Estilos", new { id = item.Id })"><i class="bi bi-pencil-square" style="font-size: 1.5em !important; color: black !important;"></i></a>
                                        <a href="@Url.Action("Details", "Estilos", new { id = item.Id })"><i class="bi bi-info-square" style="font-size: 1.5em !important; color: black !important;"></i></a>
                                        <a href="@Url.Action("Delete", "Estilos", new { id = item.Id })"><i class="bi bi-trash" style="font-size: 1.5em !important; color: black !important;"></i></a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
