@model WebApplication1.Models.EsqueceuSenha

@{
    ViewBag.Title = "EsqueceuSenha";
}

<section class="section cta dark">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                @using (Html.BeginForm())
                {
                    <h3 class="display-3"><strong>Recuperar Senha</strong></h3>
                    <p style="font-size: 1.5rem;">
                        Se você não lembra sua senha, digite seu e-mail e enviaremos detalhes de como recuperá-la
                    </p>
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-outline">
                            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control",@placeholder = "Email" } })
                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <input type="submit" value="Enviar" class="btn btn-block" />
                    </div>
                }

            </div>
        </div>
    </div>
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
