<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title>Tatuou</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap" rel="stylesheet">
    <link href="https://cdn.datatables.net/1.12.0/css/jquery.dataTables.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Content/main.css" />
    <link rel="stylesheet" href="~/Content/font-awesome.min.css" />
</head>
<body>
    <header>
        <nav class="navbar fixed-top navbar-expand-md navbar-dark py-3">
            <div class="container">
                <a class="navbar-brand" href=@Url.Action("Index","Home")>
                    <img src="~/images/logo.png" alt="Tatuou" class="logo img-fluid">
                </a>
                <button class="navbar-toggler" id="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado" aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
                    <ul class="navbar-nav ml-auto my-auto">
                        @if (User.Identity.IsAuthenticated)
                        {
                            if (Convert.ToInt32(User.Identity.Name.Split('|')[2]) == 1)
                            {
                                <li class="nav-item mx-3">
                                    <a href="@Url.Action("Index","Estilos")" class="nav-link mx-2">Estilos</a>
                                </li>
                                <li class="nav-item mx-3">
                                    <a href="@Url.Action("Estudios","Estudios")" class="nav-link mx-2">Estúdios</a>
                                </li>
                                <li class="nav-item mx-3">
                                    <a href="@Url.Action("Sair", "Home")" class="nav-link mx-2">@User.Identity.Name.Split('|')[1] - Sair</a>
                                </li>
                            }
                        }
                        else
                        {
                            <li class="nav-item mx-3">
                                <a href="@Url.Action("Estilos", "Estilos")" class="nav-link mx-2">Estilos</a>
                            </li>
                            <li class="nav-item mx-3">
                                <a href="@Url.Action("Index", "Estudios")" class="nav-link mx-2">Estudios</a>
                            </li>
                        }
                        @if (User.Identity.IsAuthenticated)
                        {
                            if (Convert.ToInt32(User.Identity.Name.Split('|')[2]) == 2)
                            {
                                <li class="nav-item mx-3">
                                    <a href="@Url.Action("CadastroEstilos", "Estudios", new { @id = Convert.ToInt32(User.Identity.Name.Split('|')[0]) })" class="nav-link mx-2" alt="Meu Estilos">Meus Estilos</a>
                                </li>
                                <li class="nav-item mx-3">
                                    <a href="@Url.Action("MeuPerfil","Estudios",new { @id = Convert.ToInt32(User.Identity.Name.Split('|')[0])})" class="nav-link mx-2" alt="Meu Perfil">@User.Identity.Name.Split('|')[1]</a>
                                </li>
                                <li class="nav-item mx-3">
                                    <a href="@Url.Action("Sair", "Home")" class="nav-link mx-2">Sair</a>
                                </li>
                            }
                        }
                        else
                        {
                            <li class="nav-item">
                                <a href="@Url.Action("Login","Home")" class="nav-link mx-4">
                                    Entrar
                                </a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <main class="container-fluid p-0">
        @RenderBody()
    </main>
    <footer class="dark">
        <div class="container">
            <div class="row">
                <div class="footer-col col-md-4">
                    <h3 class="focus-title">Sobre nós</h3>
                    <p><img width="200" class="align-center" src="~/images/logo.png" alt="TATUOU - O lugar de todos os estilos"></p>
                    <p>Somos uma plataforma na qual estúdios de tatuagem de todo o Brasil podem se cadastrar e divulgar seu portfólio de trabalhos, atraindo cada vez mais clientes para o seu negócio.</p>
                </div>
                <div class="footer-col footer-contacts col-md-4">
                    <div class="contact-item"><strong>Entre em contato conosco ou visite nossas redes sociais</strong></div>
                    <div class="contact-item"><span>Telefone:</span> <strong>(12) 99100-2326</strong></div>
                    <div class="contact-item"><span>Email:</span> <strong><a href="mailto:tatuouadm@gmail.com">tatuouadm@gmail.com</a></strong></div>
                    <div class="contact-item">
                        <span>Nossas redes sociais:</span>
                        <ul class="social-links">
                            <li><a title="Facebook" href="https://www.facebook.com/" target="_blank"><i class="bi bi-facebook"></i></a></li>
                            <li><a title="Twitter" href="https://twitter.com/" target="_blank"><i class="bi bi-twitter"></i></a></li>
                            <li><a title="Instagram" href="https://www.instagram.com/" target="_blank"><i class="bi bi-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright">
            &copy; 2022 - <strong>TATUOU</strong>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>
    @RenderSection("scripts", required: false)
    <script type="text/javascript" src="~/Scripts/jquery.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.mask.min.js"></script>
    <script type="text/javascript" src="~/Scripts/main.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="https://cdn.datatables.net/1.12.0/js/jquery.dataTables.min.js"></script>
    @if (TempData["MSG"] != null)
    {
        <script>
                $(document).ready(function () {
                var titulo = "";
                    switch ("@TempData["MSG"].ToString().Split('|')[0]") {
                case "success":
                    titulo = "Sucesso";
                    break;
                case "warning":
                    titulo = "Atenção";
                    break;
                case "error":
                    titulo = "Erro";
                    break;
                case "info":
                    titulo = "Informação";
                break;
                }
                swal(titulo, "@Html.Raw(TempData["MSG"].ToString().Split('|')[1])", "@TempData["MSG"].ToString().Split('|')[0]");
                });
        </script>
    }
    <script src="~/Scripts/pt-br.js"></script>
    <script src="~/Scripts/main2.js"></script>
</body>
</html>