@model IEnumerable<WebApplication1.Models.Estudio>

<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <table class="tabela">
                    <thead>
                        <tr>
                            <th>
                                ID
                            </th>

                            <th>
                                Estudio
                            </th>

                            <th>
                                CNPJ
                            </th>
                            <th>
                                Disponível
                            </th>
                            <th>
                                Editar
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            @foreach (var item in Model)
                            {
                                <td>
                                    @Html.DisplayFor(modelItem => item.Id)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.nomeEstudio)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Cnpj)
                                </td>
                                <td>
                                    @if (item.Disponivel == false)
                                    {
                                        ViewBag.Disponivel = "Não";
                                    }
                                    else
                                    {
                                        ViewBag.Disponivel = "Sim";
                                    }
                                    @ViewBag.Disponivel
                                </td>
                                <td>
                                    @Html.ActionLink("Edit", "EditarEstudios", new { id = item.Id })
                                </td>
                            }
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
